<fieldset>
    <label class="radio">
        <span class="radio-input">
            <input type="radio" name="attendance-{{ id }}" value="1">
            <span class="radio-control"></span>
        </span>
        <span class="radio-label">Yes, I'll be there.</span>
    </label>
    <label class="radio">
        <span class="radio-input">
            <input type="radio" name="attendance-{{ id }}" value="0">
            <span class="radio-control"></span>
        </span>
        <span class="radio-label">Unfortunately, not.</span>
    </label>
</fieldset>
