<script locals>
    module.exports = {
        quotes: [
            {
                "speaker": "Steve",
                "quote": "So how did it really go down?"
            },
            {
                "speaker": "Kevin",
                "quote": "I turned around at Sav's Kangan and saw this pretty girl looking at us and asked Tricia who was that?"
            },
            {
                "speaker": "Ana",
                "quote": "What?! OMG! When did that happen?"
            },
            {
                "speaker": "Kevin",
                "quote": "At Aunty Shanta's, I saw you looking towards us outside."
            },
            {
                "speaker": "Ana",
                "quote": "Ohhh I had the camera. I was just randomly taking photos with someone else's camera and saw this person standing there being all cool with his sunglasses and vest and I was like, hmmm ok \uD83D\uDE42. You should see the photo! And you decided to pose?"
            },
            {
                "speaker": "Kevin",
                "quote": "LOL yea."
            },
            {
                "speaker": "Steven",
                "quote": "So what happened next?"
            },
            {
                "speaker": "Kevin",
                "quote": "I went to get food and you were smiling at me from far."
            },
            {
                "speaker": "Ana",
                "quote": "LOL. I do not remember that. I don't remember seeing you again until the moon."
            },
            {
                "speaker": "Steven",
                "quote": "What moon?"
            },
            {
                "speaker": "Kevin",
                "quote": "Oh this is funny!"
            },
            {
                "speaker": "Ana",
                "quote": " I didn't see him or notice him for the rest of the day until I went outside with the camera to take pictures of the moon. We should see if Tammy still has that photo. But I turned around and saw this guy there watching me and you asked me what I was doing. So I said \"taking pictures of the moon\"."
            },
            {
                "speaker": "Kevin",
                "quote": "Oh I remember that. Taking pictures of the moon"
            },
            {
                "speaker": "Steven",
                "quote": "*snickers* *cough cough* that's Ana."
            },
            {
                "speaker": "Kevin",
                "quote": "I think we talked for a bit and then she disappeared inside."
            },
            {
                "speaker": "Ana",
                "quote": "Hahaha I went for food. It was late, I needed to eat."
            },
            {
                "speaker": "Kevin",
                "quote": "Yeah that was a good idea then. I might have never gotten her number if she didn't eat."
            },
            {
                "speaker": "Steven",
                "quote": "Why is that?"
            },
            {
                "speaker": "Kevin",
                "quote": "She gets hangry. Like crying hangry if she doesn't eat."
            },
            {
                "speaker": "Ana",
                "quote": "*facepalm*"
            },
            {
                "speaker": "Kevin",
                "quote": "So she disappears and eventually I go inside and she is there with my cousins, my mum, my aunts, uncles, all having a chat and I walk in the door and she says \"Kevin will set the wedding date\". I was \uD83D\uDE33. What is going on? Then she gets up and walks past me to go outside and I asked for her number. She will say it was not smart of me to ask the same time Aunty Shanta walked by either. "
            },
            {
                "speaker": "Steven",
                "quote": "Why is that?"
            },
            {
                "speaker": "Ana",
                "quote": "My name changed that night from Ana to daughter in law. LOL. Also too, because his family kept asking when they were coming to Trinidad for my wedding and I said \"find me a nice Guyanese boy\" and then uncle Siew asked again and that was the same time you walked in, so I said \"Kevin will set the wedding date!\""
            },
            {
                "speaker": "Kevin",
                "quote": "So I was caught off guard but guess what...when she walked past  me to go outside it was to take more pictures of the moon."
            },
            {
                "speaker": "Ana",
                "quote": "Hey relax, I love you to that same moon and back!"
            },
            {
                "speaker": "Kevin",
                "quote": "\uD83E\uDD70\uD83E\uDD70 I love you more."
            },
            {
                "speaker": "Steven",
                "quote": "Awwww. So here we are over 2 years later?"
            },
            {
                "speaker": "Kevin",
                "quote": "Yes and no, we stayed up until 3 or 4 am talking. I went to the raptors parade the next day, and she went crazy shopping on Orfus Road and we went on our first date that night."
            },
            {
                "speaker": "Ana",
                "quote": "And do you believe, he left Toronto that day, went home, got ready and changed and came back downtown to take me out and then drove from Brampton to downtown the next morning to drop me to the airport. He even asked me to stay a few days extra."
            },
            {
                "speaker": "Kevin",
                "quote": "And she said no! She went back to Trinidad. \uD83D\uDE1E"
            },
            {
                "speaker": "Ana",
                "quote": "He didn't tell me until over a year later than he actually took the day off to drop me to the airport."
            },
            {
                "speaker": "Kevin",
                "quote": "We haven't stopped talking since. We continue dealing with long distance and Covid and life and in everything, we still talk everyday, tell each other everything. Even on lazy days when we need a break from the world. So here we really are, two and half years later. We're friends first. Long distance taught us that. Friends first then romance after. We learnt to understand each other in the distance, and trust me it's been hard and days when we have wanted to walk away or she would cry but we moved past the distance being a hindrance to the distance being a bridge between where we are and where we want to be."
            }
        ]
    }
</script>

<each loop="quote in quotes">
    <scope with="quote">
        <include src="partials/block-interview-quote.html"></include>
    </scope>
</each>
