<nav rel="index">
    <ul>
        <li>
            <a href="#home" class="{{ page === 'home' ? 'active' : '' }}">home</a>
        </li>
        <li>
            <a href="#journey" class="{{ page === 'journey' ? 'active' : '' }}">journey</a>
        </li>
        <li>
            <a href="#info" class="{{ page === 'info' ? 'active' : '' }}">info</a>
        </li>
        <li>
            <a href="#team" class="{{ page === 'team' ? 'active' : '' }}">team</a>
        </li>
        <!--<li>
            <a href="#media" class="{{ page === 'media' ? 'active' : '' }}">media</a>
        </li>-->
        <li>
            <a href="#thanks" class="{{ page === 'thanks' ? 'active' : '' }}">thanks</a>
        </li>
        <li>
            <a href="#rsvp" class="{{ page === 'rsvp' ? 'active' : '' }}">rsvp</a>
        </li>
    </ul>
</nav>