<span id="home" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "home" }</include>

<div class="container pg-home">
    <section class="hero">
        <h1>
            <span class="font-primary">Ana</span>
            <span class="font-secondary font-accent">&</span>
            <span class="font-primary">Kevin</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/146/900/400">
        </div>
        <h2>
            <span class="font-secondary">And the Adventure Begins</span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main centered">
        <h3>
            <span class="font-secondary">Hi Aunt Marie & Uncle Carl,</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis distinctio explicabo ipsa, odio officia praesentium quo reiciendis voluptatibus. Fugit modi nostrum provident quisquam rerum. Ad, aspernatur cupiditate dolore earum, enim eveniet fugit ipsa molestias, nesciunt quae quaerat qui quisquam reiciendis rem repellendus sed similique soluta ullam. Maiores, nobis reiciendis!</p>
        </div>
    </section>
</div>