<span id="home" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "home" }</include>

<div class="container pg-home">
    <section class="hero">
        <h1>
            <span class="font-primary">Ana</span>
            <span class="font-secondary font-accent">&</span>
            <span class="font-primary">Kevin</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/146/900/400">
        </div>
        <h2>
            <span class="font-secondary">And the Adventure Begins</span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main centered">
        <h3>
            <span class="font-secondary">Hi Aunt Marie & Uncle Carl,</span>
        </h3>
        <div class="content">
            <p>If you're going to sit through a wedding, it might as well be on the beach with the sand in your toes.</p>
            <p> From Trinidad and Toronto to Barbados, get your passports ready to travel the world with us as our adventure begins.</p>
            <p>
                -
                <span class="font-primary">Ana</span>
                <span class="font-secondary font-accent">&</span>
                <span class="font-primary">Kevin</span>
                 -
            </p>
        </div>
    </section>
</div>
