<span id="info" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "info" }</include>

<div class="container pg-info">
    <section class="hero">
        <h1>
            <span class="font-primary">Important Info</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/1055/900/400">
        </div>
        <h2>
            <span class="font-secondary"><a href="#wedding">Wedding</a> | <a href="#hotspots">Hotspots</a> | <a href="#lodging">Lodging</a> | <a href="#faqs">FAQs</a></span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="centered">
        <h3 id="wedding">
            <span class="font-secondary">Wedding</span>
        </h3>
        <div class="content">
            <p>We both wanted key different things for our wedding and we have to keep travel restrictions in mind. So here is an itinerary of our wedding events.</p>
        </div>
        <section class="grid">
            <div class="row two">
                <div class="content">
                    <h4>Bachelor Party/Bridal Shower</h4>
                    <p>TBD</p>
                </div>
                <div class="content">
                    <h4>Bridal Farewell Party</h4>
                    <p>Date: July 23rd, 2022</p>
                    <p>Location: Celebrations Centre, #3 Gransaul Street, San Fernando</p>
                </div>
                <div class="content">
                    <h4>Wedding Ceremony & Resort Reception</h4>
                    <p>Date: July 30th, 2022</p>
                    <p>Location: Sandals Resort, Barbados</p>
                </div>
                <div class="content">
                    <h4>Cocktail/Dinner Reception</h4>
                    <p>Date: December 9th, 2022</p>
                    <p>Location: Celebrations Centre, #3 Gransaul Street, San Fernando</p>
                </div>
            </div>
        </section>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="hotspots">
            <span class="font-secondary">Hotspots</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="centered">
        <h3 id="lodging">
            <span class="font-secondary">Lodging: Airbnbs, Hotels, & More</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <section class="grid">
            <div class="row two">
                <div class="content">
                    <h4>AirBnB Locations</h4>
                    <p>See below for AirBnB locations in Barbados</p>
                    <include src="partials/block-logo-airbnb.html"></include>
                </div>
                <div class="content">
                    <h4>Closeby Hotels/Inns</h4>
                    <div class="text-left">
                        <p>Dover Beach Hotel</p>
                        <p>Turtle Beach by Elegant Hotels</p>
                        <p>Bougainvillea Barbados</p>
                        <p>O2 Beach Club & Spa by Ocean Hotels</p>
                        <p>All hotels can be booked on booking.com</p>
                    </div>
                </div>
                <div class="content">
                    <h4>Recommended airlines</h4>
                    <p>Direct Flights can be booked using Westjet, Air Canada and Caribbean Airlines</p>
                    <p>For guests who may need to stay at another resort besides Sandals Barbados, please email the bride to arrange resort day passes at anastasia.deonarinesingh@gmail.com</p>
                </div>
            </div>
        </section>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="faqs">
            <span class="font-secondary">FAQs</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>
</div>
