<span id="info" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "info" }</include>

<div class="container pg-info">
    <section class="hero">
        <h1>
            <span class="font-primary">Important Info</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/1055/900/400">
        </div>
        <h2>
            <span class="font-secondary"><a href="#wedding">Wedding</a> | <a href="#hotspots">Hotspots</a> | <a href="#lodging">Lodging</a> | <a href="#faqs">FAQs</a></span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="wedding">
            <span class="font-secondary">Wedding</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur et ipsam porro sapiente tempora voluptatem! Aliquam animi autem corporis cupiditate debitis delectus dolor dolorem error eum excepturi facilis fuga id impedit inventore ipsa laborum maxime molestiae nemo nisi nostrum odio porro quam quos reprehenderit repudiandae sequi similique sint, tenetur voluptas voluptates. Adipisci, aspernatur aut consectetur dicta dolor dolorem dolores eius ex numquam officia, omnis, quaerat qui rem soluta ut. Officia, possimus!</p>
        </div>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="hotspots">
            <span class="font-secondary">Hotspots</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="lodging">
            <span class="font-secondary">Lodging: Airbnbs, Hotels, & More</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="faqs">
            <span class="font-secondary">FAQs</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>
</div>