<span id="journey" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "journey" }</include>

<div class="container pg-journey">
    <section class="hero">
        <h1>
            <span class="font-primary">Our Journey</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/1016/900/400">
        </div>
        <h2>
            <span class="font-secondary"><a href="#story">Our Story</a> | <a href="#proposal">The Proposal</a></span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="story">
            <span class="font-secondary">Our Story</span>
        </h3>
        <div class="content left">
            <p><strong class="font-primary">Ana:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus eum minima tempore ut? Alias dignissimos ducimus earum enim eos incidunt ipsa, libero modi neque officia omnis perspiciatis possimus quod rerum voluptatibus?</p>
            <p><strong class="font-primary">Steve:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aperiam atque beatae harum ipsum itaque natus non obcaecati quaerat quas quisquam reiciendis repudiandae sit, vel. Commodi, et!</p>
            <p><strong class="font-primary">Ana:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto facilis in iusto, maxime quas quo veniam voluptates. A expedita illo laboriosam natus necessitatibus odit. Accusantium ad aliquam asperiores commodi dignissimos distinctio inventore nostrum obcaecati quidem reiciendis repudiandae, saepe, sapiente vero! Amet corporis debitis deleniti eligendi eum facere libero minima minus, odio perferendis sunt.</p>
            <p><strong class="font-primary">Kevin:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut harum ipsa ipsum modi nesciunt quaerat quo!</p>
        </div>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main centered">
        <h3 id="proposal">
            <span class="font-secondary">The Proposal</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque itaque molestiae non quisquam repellendus? Architecto beatae consequatur, cumque, eius enim, esse laboriosam laborum laudantium magnam minus molestiae nam nobis officia pariatur quidem recusandae rerum tempore temporibus veniam voluptates. Accusantium aliquid aperiam at deserunt doloremque est expedita impedit molestiae necessitatibus perspiciatis quia quis quod, recusandae sequi suscipit tempora tempore temporibus.</p>
        </div>
    </section>
</div>