<span id="rsvp" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "rsvp" }</include>

<div class="container pg-rsvp">
    <section class="hero">
        <h1>
            <span class="font-primary">RSVP</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/112/900/400">
        </div>
        <h2>
            <span class="font-secondary">will you be attending?</span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="grid">
        <form method="post" action=".">
            <div class="row two">
                <div class="content centered">
                    <h3 class="font-secondary">
                        <span>Aunt Marie</span>
                    </h3>
                    <include src="partials/block-rsvp.html">{ "id": 1 }</include>
                </div>
                <div class="content centered">
                    <h3 class="font-secondary">
                        <span>Uncle Carl</span>
                    </h3>
                    <include src="partials/block-rsvp.html">{ "id": 2 }</include>
                </div>
                <div class="content centered">
                    <h3 class="font-secondary">
                        <span>Cousin It</span>
                    </h3>
                    <include src="partials/block-rsvp.html">{ "id": 3 }</include>
                </div>
            </div>
            <hr />
            <div class="centered">
                <button type="submit" class="primary">Save</button>
                <button type="reset" class="secondary">Clear</button>
            </div>
        </form>
    </section>
</div>
