<span id="splash" class="nav-item"></span>

<div class="spacer spacer-3"></div>

<div class="container pg-splash centered">
    <h1>
        <span class="font-primary">Ana</span>
        <span class="font-secondary font-accent">&</span>
        <span class="font-primary">Kevin</span>
    </h1>
    <img src="media/splash2.jpg">
    <h2>
        <span class="font-secondary">And the Adventure Begins</span>
    </h2>

    <div class="spacer spacer-3"></div>

    <form action="#home" method="post">
        <div class="content centered">
            <input type="text" name="passcode" id="passcode"
                   placeholder="Type Passcode"
                   class="centered"
                   tabindex="1"
                   autocomplete="off">
        </div>
        <div class="content centered">
            <button type="submit" class="important">Enter</button>
        </div>
    </form>

</div>
