<span id="save" class="nav-item"></span>

<div class="container pg-save">
    <section class="hero centered">
        <h1>
            <span class="font-primary">Save the Date</span>
        </h1>
        <img src="../site/media/sticker2.png" alt="Ana & Kevin Photo" class="padded">
    </section>

    <section class="grid">
        <form method="post" action=".">
            <div class="content centered">
                <input type="text" name="name" id="name"
                       placeholder="Your Name"
                       class="centered"
                       tabindex="1"
                       autocomplete="off">
                <input type="text" name="email" id="email"
                       placeholder="Your Email Address"
                       class="centered"
                       tabindex="1"
                       autocomplete="off">
            </div>
            <div class="content centered">
                <input type="text" name="street" id="street"
                       placeholder="Your Street Address"
                       class="centered"
                       tabindex="1"
                       autocomplete="off">
            </div>
            <div class="content centered">
                <input type="text" name="city" id="city"
                       placeholder="Your City/Town"
                       class="centered"
                       tabindex="1"
                       autocomplete="off">
                <input type="text" name="state" id="state"
                       placeholder="Your Province/State"
                       class="centered"
                       tabindex="1"
                       autocomplete="off">
            </div>
            <div class="content centered">
                <select name="country" id="country"
                        placeholder="Your Country"
                        class="centered"
                        tabindex="1"
                        value="0"
                        autocomplete="off">
                    <option value="" disabled selected hidden>Your Country</option>
                    <include src="partials/block-country-options.html"></include>
                </select>
                <input type="text" name="code" id="code"
                       placeholder="Your Postal/Zip Code"
                       class="centered"
                       tabindex="1"
                       autocomplete="off">
            </div>
            <br />
            <br />
            <div class="centered">
                <button type="submit" class="primary">Send</button>
                <button type="reset" class="secondary">Clear</button>
            </div>
        </form>
    </section>
</div>
