<span id="thanks" class="nav-item"></span>

<include src="partials/nav.html">{ "page": "thanks" }</include>

<div class="container pg-thanks">
    <section class="hero">
        <h1>
            <span class="font-primary">Thank You</span>
        </h1>
        <div class="box">
            <img src="https://picsum.photos/id/124/900/400">
        </div>
        <h2>
            <span class="font-secondary">for helping us on our journey</span>
        </h2>
    </section>

    <div class="divider"></div><!-- ================================================================================ -->

    <section class="main">
        <h3 id="proposal">
            <span class="font-secondary">Special Note</span>
        </h3>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque itaque molestiae non quisquam repellendus? Architecto beatae consequatur, cumque, eius enim, esse laboriosam laborum laudantium magnam minus molestiae nam nobis officia pariatur quidem recusandae rerum tempore temporibus veniam voluptates. Accusantium aliquid aperiam at deserunt doloremque est expedita impedit molestiae necessitatibus perspiciatis quia quis quod, recusandae sequi suscipit tempora tempore temporibus.</p>
        </div>
    </section>
</div>