@use 'sass:math';
@use 'breakpoints';

/* =====================================================================================================================
  ## GRID SYSTEM STYLES ##
===================================================================================================================== */

.container {
  margin: 0 auto;
  padding: 1em 1em;
  width: calc( 100% - 2em );
  transition: all .2s;

  @include breakpoints.mq(xl) {
    padding: 1em 10em;
    width: calc(100% - 20em);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;

    &:not(.skew) > *, &.three > * {
      flex: 1 1 calc(math.div(100%, 3) - 2em);
      min-width: 15ch;

      &.wide {
        flex: 1 1 calc(( math.div(100%, 3) * 2) - 2em);
      }

      &.full {
        flex: 1 1 calc(100% - 2em);
      }
    }

    &.two > * {
      flex: 1 1 calc(math.div(100%, 2) - 2em);
      min-width: 15ch;
    }

    &.four > * {
      flex: 1 1 calc(math.div(100%, 4) - 2em);
      min-width: 15ch;
    }

    &.five > * {
      flex: 1 1 calc(math.div(100%, 5) - 2em);
      min-width: 15ch;
    }

    &.justified {
      justify-content: center;
    }

    &.maintain-size > * {
      flex-grow: 0;
    }

    &.skew {
      &.left, &.right {
        & > :first-child {
          flex: 1 1 calc(20% - 2em);
        }
        & > :last-child {
          flex: 1 1 calc(80% - 2em);
        }
      }

      &.left {
        text-align: left;
      }

      &.right {
        flex-direction: row-reverse;
        text-align: right;
      }
    }
  }
}
