@use '../../core/scss/root' as __;

/* =====================================================================================================================
  ## ADMIN STYLES ##
===================================================================================================================== */

body {
  background-color: __.$red;

  @include __.mq('sm') {
    background-color: __.clr(blue, 100);
  }
}

@each $key, $val in __.$colors {
  .color-#{$key} {
    background-color: #{$val};
  }
}


.cell {
  display: block;
  width: 100%;
}